<% provide(:title, "Edit user") %>
<h1>Actualiza tu Perfil</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :Nombre %>
        <%= f.text_field :name %>

        <%= f.label :Email %>
        <%= f.text_field :email %>

        <%= f.label :Contraseña %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirma tu contraseña" %>
        <%= f.password_field :password_confirmation %>
                            <br>
        <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">cambiar</a>
  </div>
</div>